@extends('layouts._body.admin')

@section('title', 'Title Here')

@section('content')
<div class="section-body">
    <h2 class="section-title">This is Example Page</h2>
    <p class="section-lead">This page is just an example for you to create your own page.</p>
    @include('layouts._part.flash')

</div>

@endsection

@section('custom-include')

@endsection

@section('custom-script')

@endsection